<%= link_to t('.new', :default => t("helpers.links.new")),
            new_movie_path,
            :class => 'btn btn-primary' %>
<div class="movies-wrapper">
  <% @movies.each do |movie| %>
      <div class="movie-container">
        <%= image_tag movie_cover_picture(movie.gallery), height: 331, width: 228 %>
        <div class="movie-details">
          <div class="movie-name">Name: <%= movie.name %></div>
          <div class="movie-genre">Genre: <%= movie.genre %></div>
          <div class="movie-director">Director: <%= movie.director %></div>
          <div class="movie-description">Description: <%= movie.description %></div>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_movie_path(movie), :class => 'btn btn-default btn-xs movie-edit' if movie_creator?(movie) %>
          <%= link_to t('.gallery', :default => t("helpers.links.gallery")),
                      gallery_path(movie.gallery.id), :class => 'btn btn-default btn-xs movie-gallery' %>
        </div>
      </div>
  <% end %>
  <%= paginate @movies %>
</div>
